:root
{
	/*Theming*/
	/*All controls*/
	--focus-border-color: rgba(0, 114, 153, .8);
	--focus-halo-color: rgba(0, 83, 235, .7);
	--focus-halo-spread: 8px;
	
	--disabled-opacity: .3;
	
	/*Button style*/
	--button-background-color: #F0F0F0;
	--button-background-image: linear-gradient(rgba(255, 255, 255, .15), rgba(255, 255, 255, .05) 50%, rgba(0, 0, 0, .05) 50%, rgba(0, 0, 0, .15));	

	--button-background-color-hover: #C2C2C2;
	--button-background-image-hover: var(--button-background-image);

	--button-background-color-active: var(--button-background-color-hover);
	--button-background-image-active: var(--button-background-image);
	
	--button-border-width: 1px;
	
	--button-border-color: rgba(65, 65, 65, .8);
	--button-border-color-hover: var(--button-border-color);
	--button-border-color-active: var(--button-border-color);
	
	--button-font-color: black;
	--button-font-color-hover: black;
	
	--button-accent-color: rgba(255, 255, 255, .2);
	--button-hover-shadow-color: rgba(0, 0, 0, .2);
	
	--button-active-shadow-color: rgba(0, 0, 0, .4);
	
	--button-border-radius: 2px;

	/*	Default button*/
	--default-button-background-image: linear-gradient(#d0e2f4, #c6dbf1 50%, #a9c9ea 50%, #92b5da), linear-gradient(#6f6f6f, #404040);	
	--default-button-background-image-hover: linear-gradient(#b8cfe3, #aac3e4 50%, #91b2dd 50%, #799bd2), linear-gradient(#6f6f6f, #404040);
	--default-button-background-image-active: var(--default-button-background-image-hover);

	--default-button-background-color: #d0e2f4;
	--default-button-background-color-hover: #b8cfe3;
	--default-button-background-color-active: var(--default-button-background-color-hover);

	--default-button-border-color: transparent;
	--default-button-border-color-hover: transparent;
	--default-button-border-color-active: transparent;
	
	/*	Close button style*/
	--close-button-border-color: #404040;
	
	/*Default font style*/
	--default-font-family: Arial, Verdana, sans-serif;
	--default-font-size: 13px;
	--default-font-color: black;
	
	/*page style*/
	--application-background-color: gainsboro;
	
	/*tooltip style*/
	--title-tooltip-background-color: rgba(254, 254, 205, .95);
	--title-tooltip-font-color: black;
	
	/*validation bubble style*/
	--validation-bubble-background-color: #cb0000;
	--validation-bubble-font-color: white;
	
	/*Data Grid style*/
	--data-grid-head-background-image: linear-gradient(#fdfdfd, #f3f3f3 50%, #b8baba 50%, #a4a5a6);
	--data-grid-head-background-color: #d0d1d1;

	--data-grid-body-background-image: none;
	--data-grid-body-background-color: white;

    /*Dialog style*/
    --dialog-title-bar-background-image: none;
    --dialog-content-background-image: none;
	--dialog-button-bar-background-image: none;
	
	/*Progress bar style*/
	--progress-bar-background-color: gainsboro;
	--progress-bar-background-image: linear-gradient(transparent, rgba(255, 255, 255, .8));
	--progress-bar-foreground-color: whitesmoke;
	--progress-bar-foreground-image: linear-gradient(rgb(255, 255, 255, .2), rgb(0, 0, 0, .2));
}

/*body theming background and font*/
body
{
	background: var(--application-background-color);
	
	font-size: var(--default-font-size);
	font-family: var(--default-font-family);
	color: var(--default-font-color);
	
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	
	cursor: default;
	
	scroll-behavior: smooth;

    /*Preserve 3D and perspective*/
	transform-style: preserve-3d;
	perspective: 1000px;
}

/*anchor theming*/
a
{
	color: rgb(58, 108, 187);
	font-size: 13px;
	text-decoration: none;	
}

/*hidden element support*/
[hidden]
{
	display: none;
}

/*disabled element support*/
:disabled, [disabled]
{
	pointer-events: none;

	opacity: var(--disabled-opacity);
}

/*label support*/
label[is=core-label],
::shadow label[is=core-label]
{
	display: inline-block;
	
	font-weight: bold;
	
	margin: 0;
	padding: 0;
	
	height: 13px;
	line-height: 13px;

}
::shadow label[is=core-label].core-label-focused
{
	text-shadow: 0 0 var(--focus-halo-spread) var(--focus-halo-color);
}

/*cursor support*/
[core-cursor=default]
{
	cursor: default!important;
}
[core-cursor=help]
{
	cursor: help!important;
}
[core-cursor=wait]
{
	cursor: wait!important;
}
[core-cursor=pointer]
{
	cursor: pointer!important;
}
[core-cursor=move]
{
	cursor: move!important;
}
[core-cursor=crosshair]
{
	cursor: crosshair!important;
}
[core-cursor=wait]
{
	cursor: wait!important;
}
[core-cursor=progress]
{
	cursor: progress!important;
}
[core-cursor=text]
{
	cursor: text!important;
}
[core-cursor=vertical-text]
{
	cursor: vertical-text!important;
}
[core-cursor=all-scrow]
{
	cursor: all-scroll!important;
}
[core-cursor=no-drop]
{
	cursor: no-drop!important;
}
[core-cursor=not-allowed]
{
	cursor: not-allowed!important;
}
[core-cursor=col-resize]
{
	cursor: col-resize!important;
}
[core-cursor=row-resize]
{
	cursor: row-resize!important;
}
[core-cursor=e-resize]
{
	cursor: e-resize!important;
}
[core-cursor=ne-resize]
{
	cursor: ne-resize!important;
}
[core-cursor=nw-resize]
{
	cursor: nw-resize!important;
}
[core-cursor=n-resize]
{
	cursor: n-resize!important;
}
[core-cursor=se-resize]
{
	cursor: se-resize!important;
}
[core-cursor=sw-resize]
{
	cursor: sw-resize!important;
}
[core-cursor=s-resize]
{
	cursor: s-resize!important;
}
[core-cursor=w-resize]
{
	cursor: w-resize!important;
}

[core-cursor=core-wait]
{
	cursor: url(Images/ui-wait-cursor-48x48.svg) 24 24, auto;
}
[core-cursor=core-not-allowed]
{
	cursor: url(Images/ui-not-allowed-cursor-48x48.svg) 24 24, auto;
}
[core-cursor=core-grab]
{
	cursor: url(Images/ui-grab-cursor-48x48.svg) 24 24, auto;
}
[core-cursor=core-grab-active]
{
	cursor: url(Images/ui-grab-active-cursor-48x48.svg) 24 24, auto;
}

/*button*/
button {
    --accent-shadow: inset 0 0 0 1px var(--button-accent-color);
    --hover-shadow: 0 0 transparent;
    --active-shadow: 0 0 transparent;
    --focus-halo-shadow: 0 0 transparent;
    --border-color: var(--button-border-color);
    --border-color-hover: var(--button-border-color-hover);
    --border-color-active: var(--button-border-color-active);
    --background-color: var(--button-background-color);
    --background-color-hover: var(--button-background-color-hover);
    --background-color-active: var(--button-background-color-active);
    --background-image: var(--button-background-image);
    --background-image-hover: var(--button-background-image-hover);
    --background-image-active: var(--button-background-image-active);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 2px;
    padding: 0 8px;
    line-height: 19px;
    min-height: 19px;
    min-width: 63px;
    vertical-align: baseline;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, .6);
    background-color: white;
    background-image: var(--face-image);
    background-size: 110% 110%;
    background-position: center;
    background-clip: border-box;
    border-radius: var(--button-border-radius);
    box-shadow: var(--accent-shadow), var(--hover-shadow), var(--active-shadow), var(--focus-halo-shadow);
    font-weight: normal;
    --face-image: linear-gradient(transparent 5%, rgba(0, 0, 0, .05) 50%, rgba(0, 0, 0, .08) 50%, rgba(0, 0, 0, .18) 95%);
    --hover-face-image: linear-gradient(rgba(0, 0, 0, .18) 5%, rgba(0, 0, 0, .21) 50%, rgba(0, 0, 0, .28) 50%, 
        rgba(0, 0, 0, .35) 95%);
}
button[is=core-iconbutton]
{
	padding: 2px!important;
	height: auto!important;
	min-height: 0!important;
	width: auto!important;
	min-width: 0!important;
}
    button:enabled:hover {
        background-image: var(--hover-face-image);
        --hover-shadow: 0 1px 2px var(--button-hover-shadow-color);
    }
button:enabled:active, ::shadow button:enabled:active,
core-select[core-expanded],
input[type=radio]:enabled:active, ::shadow input[type=radio]:enabled:active,
input[type=checkbox]:enabled:active, ::shadow input[type=checkbox]:enabled:active
{
	border-color: var(--border-color-active);
	
	background-color: var(--background-color-active);
	background-image: var(--background-image-active);

	--active-shadow: inset 0 1px 2px var(--button-active-shadow-color);
	--accent-shadow: 0 0 transparent;
}
button:focus, ::shadow button:focus,
core-select:focus,
input[type=radio]:focus, ::shadow input[type=radio]:focus,
input[type=checkbox]:focus, ::shadow input[type=checkbox]:focus
{
	outline: none;

	--focus-halo-shadow: 0 0 var(--focus-halo-spread) var(--focus-halo-color);

	--border-color: var(--focus-border-color);
	--border-color-hover: var(--focus-border-color);
	--border-color-active: var(--focus-border-color);
}

/*Default button style*/
button[default], core-button[default]::shadow>button
{
	--background-color: var(--default-button-background-color);
	--background-color-hover: var(--default-button-background-color-hover);
	--background-color-active: var(--default-button-background-color-active);

	--background-image: var(--default-button-background-image);
	--background-image-hover: var(--default-button-background-image-hover);
	--background-image-active: var(--default-button-background-image-active);

	--border-color: var(--default-button-border-color);
	--border-color-hover: var(--default-button-border-color-hover);
	--border-color-active: var(--default-button-border-color-active);
}

/*close button*/
button[is=core-closebutton]
{
	float: right;
	
	width: 17px!important;
	min-width: 0!important;
	height: 17px!important;
	min-height: 0!important;
	
	margin: 7px 0 0 0!important;
	
	overflow: hidden;

	padding: 0;

	background: transparent!important;

	border-color: transparent;

	box-shadow: none!important;
}
button[is=core-closebutton]:hover
{
	border-color: unset;
	
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 0 #fff!important;
	-moz-box-shadow: inset 0 1px 0 #fff, 0 1px 0 #fff!important;
	box-shadow: inset 0 1px 0 #fff, 0 1px 0 #fff!important;
}

button[is=core-closebutton]>core-icon
{
	position: relative;
	top: -2px;
	left: -3px;
	
	opacity: .7;
}
button[is=core-closebutton]:hover>core-icon
{
	opacity: 1;
}

/*input*/
input
{
	height: 21px;
	line-height: 21px;
	vertical-align: baseline;

	border: solid 1px;
	border-color: rgb(105, 105, 105);
	background-clip: padding-box;
	-webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, .2);
}
input:invalid
{
	border-color: #cb0000;
}
input:focus
{
	outline: none;
	
	border: solid 1px rgb(0, 137, 183);

	-webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, .2), 0 0 8px rgba(0, 83, 235, .7);
	-moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, .2), 0 0 8px rgba(0, 83, 235, .7);
	box-shadow: inset 0 1px 0 rgba(0, 0, 0, .2), 0 0 8px rgba(0, 83, 235, .7);
}
input:invalid:focus
{
	border-color: #cb0000;

	-webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, .2), 0 0 8px rgba(235, 0, 37, .7);
	-moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, .2), 0 0 8px rgba(235, 0, 37, .7);
	box-shadow: inset 0 1px 0 rgba(0, 0, 0, .2), 0 0 8px rgba(235, 0, 37, .7);
}

/*radiobutton*/
input[type=radio],
input[type=checkbox]
{
	position: relative;
	
	padding: 0;

	min-width: 0!important;
	width: 13px!important;
	min-height: 0!important;
	height: 13px!important;
	
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
}

input[type=radio]
{
	-webkit-border-radius: 7px!important;
	-moz-border-radius: 7px!important;
	border-radius: 7px!important;
}

input[type=checkbox]:checked::after
{
	content: "";

	display: inline-block;
	
	position: absolute;
	top: 50%;
	left: 50%;
	
	height: 13px;
	width: 13px;
	
	margin: -7px 0 0 -5px;

	background-image: url(Images/ui-icon-sprite-21x21.svg);
	background-position: -86px -7px;	
}

input[type=radio]:checked::after
{
	content: "";

	display: inline-block;
	
	background: #303030;
	
	position: absolute;
	top: 50%;
	left: 50%;
	
	height: 5px;
	width: 5px;
	
	margin: -3px 0 0 -3px;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

/*dropdown*/
.core-dropdown
{
	position: relative;
	
	display: inline-block;
	vertical-align: middle;
	width: 9px;
	height: 9px;
}
.core-dropdown::after
{
	content: "";
	
	position: absolute;
	top: 50%;
	left: 50%;
	
	margin: -4px 0 0 -4px;

	width: 9px;
	height: 9px;

	background-image: url(Images/ui-icon-sprite-21x21.svg);
	background-position: -7px -48px;
}
.core-dropdown.core-dropdown-up::after
{
	background-position: -26px -48px;
}
/*core select*/
core-select
{
	overflow: visible;
	position: relative;

	padding-right: 23px; 
	
	width: auto;
	min-width: 3em;
}
core-select::before
{
	content: '';
	
	width: 9px;
	height: 9px;

	position: absolute;
	top: 50%;
	right: 4px;
	
	margin-top: -4px;
	
	background-image: url(Images/ui-icon-sprite-21x21.svg);
	background-position: -7px -48px;
}
core-select::after
{
	content: '';
	
	width: 2px;
	height: 100%;

	position: absolute;
	top: 0;
	right: 17px;

	border-left: 1px solid rgb(65, 66, 66);

	box-shadow: inset 1px 0 0 rgba(255, 255, 255, .2);
}
/*Select SHADOW ROOT*/
/*-> Select Value*/
core-select::shadow core-selectvalue
{
	display: inline-block;
	
	vertical-align: top;
	
	width: 8em;
	
	margin: 0;
	padding: 0;
	
	white-space: nowrap;
	text-overflow: clip;
	overflow: hidden;
}
/*-> Select List*/
core-select::shadow ul[is=core-selectlist]
{
	display: block;

	width: auto;
	height: auto;
	min-width: 100%;

	min-height: 0;
	max-height: 0;

	position: absolute;
	top: 100%;
	left: 0;

	margin: 1px 0 0 0;
	padding: 0;

	overflow-y: auto;
	overflow-x: hidden;
	white-space: nowrap;

	list-style: none;

	background: white;

	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
	box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
	
	-webkit-transition: max-height ease-out .215s, min-height ease-out .215s;
	-moz-transition: max-height ease-out .215s, min-height ease-out .215s;
	transition: max-height ease-out .215s, min-height ease-out .215s;
}
core-select[core-expanded]::shadow ul[is=core-selectlist]
{
	min-height: 11px;
	max-height: 100px;
}
core-select::shadow li[is=core-selectoption]
{
	line-height: 11px;
	vertical-align: middle;
	padding: 8px 10px;
	width: auto;
	margin: 0;
	font-weight: normal;
	overflow: hidden;
	color: black;
}
core-select::shadow li[is=core-selectoption]:hover
{
	background-color: #7FCEFF;
}
core-select::shadow li[is=core-selectoption][core-selected]
{
	background-color: #40B6FF;
}
/*spin*/
core-number
{
	display: inline-block;

	padding: 0;
	margin: 2px;

	height: 21px;

	background: transparent;
}
core-numberbuttonarea
{
	display: inline-block;

	height: 100%;
	margin: 0 0 0 -3px;

	vertical-align: middle;
}
button[is=core-incrementbutton],
button[is=core-decrementbutton]
{
	padding: 0;

	display: block;

	margin: -1px 0!important;
	width: 17px!important;
	min-width: 0!important;
	height: 11px!important;
	min-height: 0!important;
	line-height: 0!important;

	background-size: 110% 220%;
}
button[is=core-incrementbutton]:focus,
button[is=core-decrementbutton]:focus
{
	position: relative;
	z-index: 1;
}

button[is=core-incrementbutton]
{
	border-radius: 0 2px 0 0;
	background-position: 0 10%;
}
button[is=core-decrementbutton]
{
	border-radius: 0 0 2px 0;
	background-position: 0 90%;
}

/*core dialog backdrop*/
dialog[is=core-dialog]::backdrop
{
	background: rgba(0, 0, 0, .2);
	
	-webkit-backdrop-filter: blur(1px);	
	-moz-backdrop-filter: blur(1px);	
	backdrop-filter: blur(1px);
}
dialog[is=core-dialog]>core-dialogbackdrop
{
	background: rgba(0, 0, 0, .2);
	
	-webkit-backdrop-filter: blur(1px);	
	-moz-backdrop-filter: blur(1px);	
	backdrop-filter: blur(1px);
}

/*core dialog*/
dialog[is=core-dialog]
{
	position: fixed!important;
	
	min-height: 100px;
	min-width: 100px;

	padding: 0;

	overflow: hidden;

	visibility: hidden;
	
	border: solid 1px #7f7f7f;
	background: #fff;
	
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	
 	-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 10px 20px rgba(0, 0, 0, .3);
	box-shadow: 0 10px 20px rgba(0, 0, 0, .3);
}
dialog[is=core-dialog][open]
{
	visibility: visible;
}

core-dialogtitlebar
{
	display: block;
	height: 32px;

	padding: 50px 58px 0 58px;
	margin: -50px -50px 0 -50px;

	background: -webkit-linear-gradient(rgb(225, 225, 225), rgb(217, 217, 217));
	background: -moz-linear-gradient(rgb(225, 225, 225), rgb(217, 217, 217));
	background: linear-gradient(rgb(225, 225, 225), rgb(217, 217, 217));
	
	border-bottom: 1px solid #747474;
}
core-dialogtitle
{
	display: inline-block;
	margin: 0;
	line-height: 30px;
	height: 30px;
	color: black;
	font-size: 13px;
	font-weight: bold;
}

core-dialogcontent
{
	display: inline-block;
	
	padding: 10px 66px 10px 66px;
	margin: 0 -50px 0 -50px;
	
	font-size: 13px;
	color: black;
}

/*form item*/
core-formitem
{
	display: flex;
	display: -webkit-flex;
	
	flex-flow: row;
	justify-content: flex-end;
	-webkit-justify-content: flex-end;
	
	margin: 5px 0;
	padding: 0;
}

core-formitem>core-label
{
	order: -1;
	
	text-align: center;
	padding: 3px 0 0 0;
	
	margin: 0 5px 0 0;
}

/*button-bar*/
core-dialogbuttonbar
{
	display: block;
	padding: 6px 58px 60px 58px;
	margin: 0 -50px -50px -50px;
	text-align: right;
}

/*control bar content*/
core-controlbarcontent
{
	display: block;
	
	height: 75px;
	line-height: 75px;

	padding: 0 35px;
	margin: 0;

	background: -webkit-linear-gradient(rgb(225, 225, 225), rgb(217, 217, 217));
	background: -moz-linear-gradient(rgb(225, 225, 225), rgb(217, 217, 217));
	background: linear-gradient(rgb(225, 225, 225), rgb(217, 217, 217));
	
	border-bottom: 1px solid #747474;
	
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, .4);
}

/*icon*/
core-icon
{
	display: inline-block;
}

core-dialogmessage
{
	display: block;
	margin: 0 0 5px 0;
}

core-hgroup
{
	display: table;
}
core-hgroupitem
{
	display: table-cell;
}

core-hgroupitem>core-label
{
	display: block;
	margin: 0 5px 0 0;
}

/*data grid*/
core-datagrid
{
	display: inline-block;
	position: relative;
/*	overflow-x: auto;
	overflow-y: auto;*/
	
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	
	background: rgb(202, 202, 202);
	-webkit-box-shadow: inset 2px 2px 2px rgba(0, 0, 0, .2);

	border: 1px solid rgb(120, 122, 124);
}

core-datagrid::shadow table[is=core-datagridtable]
{
	display: inline-table;
	
	border-collapse: separate;
	border-spacing: 0;
	
	background: transparent;
}

core-datagrid::shadow thead[is=core-datagridhead]
{
	margin: 0;

	background-color: var(--data-grid-head-background-color);
	background-image: var(--data-grid-head-background-image);
}

core-datagrid::shadow tbody[is=core-datagridbody]
{
	margin: 0;
	
	background-color: var(--data-grid-body-background-color);
	background-image: var(--data-grid-body-background-image);
}

core-datagrid::shadow tr[is=core-datagridrow]
{
	padding: 0;
	margin: 0;
	
	background: transparent;
}

core-datagrid::shadow tr[is=core-datagridrow]:hover
{
	background-color: rgba(0, 192, 255, .5);
}

/*the cells for displaying/entering data*/
core-datagrid::shadow td[is=core-datagridcell]
{
	padding: 0 8px;
	line-height: 21px;
	height: 21px;
	width: 58px;

	resize: both;
	overflow: hidden;

	white-space: nowrap;
	vertical-align: middle;

	cursor: text;
	
	background: transparent;
	
	border: 0;

	background-clip: padding-box;
}

core-datagrid::shadow td[is=core-datagridcell]+td[is=core-datagridcell]
{
	border-left: solid 1px #e6e6e6;
}

core-datagrid::shadow tr[is=core-datagridrow]+tr[is=core-datagridrow] td[is=core-datagridcell]
{
	border-top: solid 1px #e6e6e6; 
}

/*visual behavior for a focused cell*/
core-datagrid::shadow td[is=core-datagridcell]:focus
{
	outline: none;
	background-color: #7fceff!important;
}
/*each cell of the first row behaves visually just like a button: */
core-datagrid::shadow thead[is=core-datagridhead] td[is=core-datagridcell] 
{			
	text-align: center;
	font-weight: bold;

	cursor: default;
}

/*cell resizer handle*/
core-datagridcell::-webkit-resizer
{
	-webkit-appearance: none;
	background: red;
	height: 100px;
	border: 2px solid black;
}
core-datagridcell:hover::-webkit-resizer
{
	background: blue;
}

/*Theme Customizations*/
/*scrollbar*/
::-webkit-scrollbar, ::-webkit-scrollbar-button
{
	height: 16px;
	width: 16px;
}
/*	scrollbar button*/
::-webkit-scrollbar-button
{
	background-color: rgb(253, 253, 253);
	background-image: url(Images/ui-icon-sprite-21x21.svg), -webkit-linear-gradient(#fdfdfd, #f3f3f3 50%, #eaeaea 50%, #d3d3d3), -webkit-linear-gradient(#6f6f6f, #404040);
	background-repeat: no-repeat;
	background-size: auto, 110% 110%, 110% 110%;
	background-clip: padding-box, padding-box, border-box;
	border: solid 1px transparent;
	-webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .2);
}
::-webkit-scrollbar-button:vertical
{
	background-image: url(Images/ui-icon-sprite-21x21.svg), -webkit-linear-gradient(left, #fdfdfd, #f3f3f3 50%, #eaeaea 50%, #d3d3d3), -webkit-linear-gradient(#6f6f6f, #404040);
}
::-webkit-scrollbar-button:hover, ::-webkit-scrollbar-button:active
{
	background-color: #d0d1d1;
	background-image: url(Images/ui-icon-sprite-21x21.svg), -webkit-linear-gradient(#d1d0d0, #c9caca 50%, #b8baba 50%, #a4a5a6), -webkit-linear-gradient(#6f6f6f, #404040);
}
::-webkit-scrollbar-button:vertical:hover, ::-webkit-scrollbar-button:vertical:active
{
	background-image: url(Images/ui-icon-sprite-21x21.svg), -webkit-linear-gradient(left, #d1d0d0, #c9caca 50%, #b8baba 50%, #a4a5a6), -webkit-linear-gradient(#6f6f6f, #404040);
}
::-webkit-scrollbar-button:vertical:decrement
{
	background-position: -3px -3px, center, center;
}
::-webkit-scrollbar-button:vertical:increment
{
	background-position: -3px -23px, center, center;
}
::-webkit-scrollbar-button:horizontal:decrement
{
	background-position: -24px -3px, center, center;
}
::-webkit-scrollbar-button:horizontal:increment
{
	background-position: -23px -23px, center, center;
}
/*	scrollbar track*/
::-webkit-scrollbar-track
{
	border: 1px solid rgb(120, 122, 124);
	background: rgb(202, 202, 202);
	-webkit-box-shadow: inset 2px 2px 2px rgba(0, 0, 0, .2);
}
::-webkit-scrollbar-track:vertical
{
	margin: -1px 0;
}
::-webkit-scrollbar-track:horizontal
{
	margin: 0 -1px;
}
::-webkit-scrollbar-track-piece
{
	-webkit-box-shadow: inset 2px 2px 2px rgba(0, 0, 0, .2);
}
/*	scrollbar thumb*/
::-webkit-scrollbar-thumb
{
	background-color: #fdfdfd;
	background-image: -webkit-linear-gradient(#fdfdfd, #f3f3f3 50%, #eaeaea 50%, #d3d3d3), -webkit-linear-gradient(#6f6f6f, #404040);
	background-size: 110% 110%;
	background-position: center;
	background-clip: padding-box, border-box;
	border: solid 1px transparent;
	
	-webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .2);
}
::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-thumb:active
{
	background-color: #d1d0d0;
	background-image: -webkit-linear-gradient(#d1d0d0, #c9caca 50%, #b8baba 50%, #a4a5a6), -webkit-linear-gradient(#6f6f6f, #404040);
}
::-webkit-scrollbar-thumb:vertical
{
	background-image: -webkit-linear-gradient(left, #fdfdfd, #f3f3f3 50%, #eaeaea 50%, #d3d3d3), -webkit-linear-gradient(left, #6f6f6f, #404040);
}
::-webkit-scrollbar-thumb:vertical:hover, ::-webkit-scrollbar-thumb:vertical:active
{
	background-image: -webkit-linear-gradient(left, #d1d0d0, #c9caca 50%, #b8baba 50%, #a4a5a6), -webkit-linear-gradient(left, #6f6f6f, #404040);
}
/*	scrollbar button and scrollbar thumb active state*/
::-webkit-scrollbar-thumb:active, ::-webkit-scrollbar-button:active
{
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .4);	
}
/*selection*/
::selection
{
	background: black;
	color: white;
}

/*tooltip and validation bubble*/
core-titletooltip, core-validation-bubble
{
	display: inline-block;
	
	position: absolute;
	
	top: 0;
	left: 0;

	padding: 5px 7px;
	margin: 13px;

	white-space: nowrap;
	
	z-index: 9999;

	background-image: none;
	background-color: var(--title-tooltip-background-color);

	font-size: 9px;
	color: var(--title-tooltip-font-color);

	border-radius: 3px;

	box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
}

core-validation-bubble
{
	background-color: var(--validation-bubble-background-color);

	color: white;
}

core-validation-bubble::before
{
	content: '';

    display: inline-block;

    position: absolute;
    left: 0;
	top: 50%;

    width: 16px;
    height: 16px;

	padding: 0;
	margin: -8px 0 0 -8px; 

    transform: scaleY(.4) rotate(45deg);

    background-color: var(--validation-bubble-background-color);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, .4);

	clip-path: polygon(0% 0%, 200% 200%, 0% 200%);
}